.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.submitButton {
  margin-left: 2rem;
  border-radius: 15px;
  padding: 0.75rem 2.5rem;
  background-color: #4093f5;
}

.submitButton > a {
  color: white;
}


.form {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

.circle {
  height: 5rem;
  width: 5rem;
  background-image: url(../public/blob.svg);

  animation: load-circle 2s ease-in-out;
  text-align: center;
}

.result {
  font-size: 3em;
  font-weight: bold;
  animation: load 1s;
}



.links{
  cursor: pointer !important;
}

